@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, p, a, h4 {
    color: #fff
}

body {
    margin: 0;
    font-family: 'Goldman', cursive;

    background: #000;
}

ul {
    list-style-type: none;

}



a {
    text-decoration: none;
    
}


.btn {
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;

}

.btn-light {
    background: rgba(255, 255, 255, .2);

}

.btn:hover {
    background: rgba(255, 255, 255, .2);
    
}